{
	"presets": [
		[
			"next/babel",
			{
				"@babel/plugin-proposal-class-properties": {
					"loose": true
				}
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"prismjs",
			{
				"languages": [
					"json",
					"bash",
					"javascript",
					"typescript",
					"yaml",
					"ini",
					"c",
					"cpp"
				],
				"plugins": [
					"line-numbers"
				]
			}
		],
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		]
	]
}