{
	"presets": [
		[
			"next/babel",
			{
				"@babel/plugin-proposal-class-properties": {
					"loose": true
				}
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"prismjs",
			{
				"languages": [
					"json",
					"bash",
					"c",
					"cpp"
				],
				"plugins": [
					"line-numbers"
				]
			}
		]
	]
}