{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"prismjs",
			{
				"languages": [
					"json",
					"bash",
					"c",
					"cpp"
				],
				"plugins": [
					"line-numbers"
				]
			}
		]
	]
}